@import "tailwindcss";
@import "tw-animate-css";

body {
  overscroll-behavior: none; /* Disable overscroll behavior */
  height: 100%;
}
html {
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
